[Unit]
Description=Changes IP of brokerHost to master node

[Service]
Type=simple
ExecStart=/usr/bin/php /home/dmz/changeIP.sh
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
