[Unit]
Description=DB start on boot
After=network.target rabbitmq-server.service

[Service]
ExecStart=/home/npl2/IT-490/eagaerBeavers-/testRabbitMQServer.php
Restart=always
User=npl2
Group=npl2

[Install]
WantedBy=multi-user.target
